.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(224, 154, 13); 
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    background-color: rgb(153, 105, 8); ; 
  }
  
  .scroll-to-top:focus {
    outline: none;
  }
  
  .scroll-to-top.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .scroll-to-top.hide {
    opacity: 0;
    pointer-events: none;
  }