.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    border: 1px solid var(--yellow);
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--light-grey);
}

.quantity-btn {
    background-color: var(--black);
    color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.quantity-btn:hover:not(:disabled) {
    background-color: var(--yellow);
    color: var(--black);
}

.quantity {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: var(--black);
    background-color: var(--light-grey);
}