.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul {
    padding-left: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: black;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }