:root {
  --main: #5067EB;
  --bg: #F2F2F2;
  --yellow: #FFDB65;
}

.side-nav {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  color: #444;
  padding-top: 60px;
  position: fixed; 
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: left 0.3s ease;
}

.side-nav img {
  height: auto;
  width: 141px;
  margin-inline: 57px;
  margin-bottom: 30px;
}

.side-nav h6 {
  text-align: center;
}

h6:hover {
  cursor: pointer;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav ul li {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #dadada;
}
.side-nav ul li a{
  text-decoration: none;
    color: black;
    display: flow;
    width: 100%;
    margin-left: 3px;
}

.side-nav ul li a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.side-nav ul li:hover {
  background-color: var(--main);
}

.dashboard {
  margin-left: 250px; 
  padding: 20px;
  background-color: var(--bg);
}

.main-content {
  padding: 20px;
  background-color: var(--bg);
}