.query-form{
    background-color: #ffffff;
    padding: 5vh 8vh;
}
.submit-btn{
    background-color: #FFD84D;
    color: black;
    border: 1px solid rgba(rgba(42, 12, 12, 0));
    width: 100%;
    transition: background-color 0.3s;
    font-weight: 600;
}

.submit-btn:hover{
    background-color: #ffffff;
    color: black;
    border: 1px solid var(--yellow);
}