:root {
    --main: #5067EB;
    --bg: #F2F2F2;
    --yellow: #FFDB65;
  }

  body {
    background-color: var(--bg);
    overflow-x: hidden; 
}

.dashboard {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}
.main-content{
    padding-inline: 15vh;
}
.user-info-col {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    position: fixed;
    right: 16px; 
    top: 16px;
    align-items: center; 
}

.user-info-col img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.user-info-col h6 {
    margin: 0;
    font-size: 1rem;
}
.welcome-msg {
    border-radius: 20px;
    background-color: var(--main);
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-top: 10vh;
}

.welcome-text {
    flex-grow: 1;
    text-align: center;
}

.welcome-text h6 {
    font-size: 1.5rem;
}

.welcome-text p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.welcome-msg img {
    width: 40vh;
    height: auto;
}
.box-grid {
    display: grid;
    grid-template-columns: repeat(2, 368px);
    grid-gap: 20px;
    justify-content: center; 
    margin-top: 45px;
}
.box-grid a{
    text-decoration: none;
}
.box {
    width: 368px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    font-size: 1.08rem;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    text-decoration-color: white
}

.box:hover {
    transform: scale(1.02); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.external-link-icon{
    width: auto;
    height: 13px;
}
.links:hover{
    text-decoration: underline;
    color: #5067EB;
}

