:root {
    --main: #5067EB;
    --bg: #F2F2F2;
    --yellow: #FFDB65;
}

.page-body {
    background-color: var(--main);
    min-height: 100vh; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    box-sizing: border-box; 
}
.reply-btn{
    height: 24px;
    padding-right: 13px;
}
.trash-btn{
    height: 20px;
    margin-bottom: 7px;
}
.reply-btn:hover, .trash-btn:hover{
    cursor: pointer;
}
h2{
    font-family: 'ABCDiatype';
    font-weight: 600;
    color: var(--main);
    padding: 12px 0px 7px 16px;
    font-size: 1.9rem;
}
.back-arrow{
    width: 20px;
    height: auto;
    position: fixed;
    top: 40px;
    left: 50px;
}
.back-arrow:hover{
    cursor: pointer;
}
.main-page{
    background-color: var(--bg);
    width: 85%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 21px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar {
    width: 50%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-button {
    margin-left: -80px;
    padding: 10px 15px;
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #3b4fd3;
}

.search-bar:focus {
    outline: none;
    border-color: var(--main);
    box-shadow: 0 0 5px var(--main);
}
.table-container {
    overflow-x: auto;
    width: 100%;
}

.main-table {
    min-width: 800px; 
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.main-table th, .main-table td {
    padding: 12px 15px;
    text-align: left;
    background-color: #f9f9f9; 
}

.main-table th {
    background-color: #f0f0f0; 
    font-weight: bold;
    font-size: 1rem;
}

.main-table tr {
    border-bottom: 1px solid #dddddd; 
    font-size: 0.9rem;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}


.main-table tbody tr:hover {
    background-color: #dddddd !important;
    color: rgb(146, 146, 146);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-table tr:last-child {
    border-bottom: none; 
}

.main-table tr:hover {
    background-color: #f1f1f1; 
}
.delete-btn{
    background-color: red;
    font-size: 13px;
    padding: 5px 10px;
}
.delete-btn:hover{
    background-color: rgb(151, 0, 0);
    color: rgb(225, 225, 225);
}
.delete-btn:active{
    background-color: rgb(151, 0, 0) !important;
    color: rgb(225, 225, 225) !important;
}


/* Menu Styles */

.edit-btn{
    width: 28px;
}
.edit-btn:hover{
    cursor: pointer;
}
.menu-sub-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px;
    font-size: 1.1rem;
}

.add-btn {
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.menu-add-button-line{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Report */
.report-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.info-section {
    margin-bottom: 10px;
}

.info-section label {
    font-weight: bold;
    margin-right: 10px;
}

.info-section p {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.95rem;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.export-btn {
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.export-btn:hover {
    background-color: #3b4fd3;
}