:root {
  --pink: #D3017F;
  --grey: #515350;
  --black: #2D2D2D;
  --yellow: #FDB734;
  --light-grey: #D9D9D9;
  --white: #FFFFFF;
  --dark-grey: #3C3C3C;
}



.checkout-page {
  max-width: 100%;
  padding: 20px;
  background-color: #dbdbdb;
  height: 100vh;
}

.checkout-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-arrow {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.checkout-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-grey);
  position: relative;
  left: 56px;
}
.payment-container {
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px 47px;
  margin: 10px auto;
  width: 70%;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--light-grey);
}

.payment-amount {
  font-weight: bold;
  font-size: 1.2rem;
}

.payment-details-form h5 {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--dark-grey);
  font-weight: 700;
}

.payment-details-form label {
  display: block;
  color: var(--grey);
  margin-bottom: 4px;
}

.payment-details-form input {
  width: 100%;
  padding: 7px;
  margin-bottom: 13px;
  border-radius: 4px;
  border: 1px solid var(--light-grey);
  background-color: var(--light-grey);
  color: var(--black);
  font-size: 15px;

}

.detail-box {
  display: flex;
  justify-content: space-between;
}

.detail-field {
  width: 48%;
}

.confirm-button {
  width: 100%;
  padding: 10px;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 3px;
}

.confirm-button:hover {
  background-color: var(--yellow);
  color: var(--white);
}