.custom-carousel {
  color: white;
}

.carousel-content {
  position: relative;
  height: 400px; 
  width: 70%;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 22%;
  border-radius: 49px;
}

.carousel-text {
  position: relative;
  z-index: 2;
  max-width: 50%;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 11%;
  padding: 21px 35px;
  top: -36%;
  left: 17%;

}

.carousel-text h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.carousel-text p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.carousel-text .discount-rate {
  font-size: 1.8em;
  color: #FAEE0A; 
}

.carousel-text .valid-till-date {
  margin-top: 20px;
  font-size: 1em;
}



